# Build System requirements
# setuptools and cmake pinned to match rocm/pytorch release/2.10:
# https://github.com/ROCm/pytorch/blob/0b21eac93ff682d862b257770fff5f9fc069b30a/requirements-build.txt
setuptools==79.0.1
cmake==4.0.0
ninja==1.11.1.4
numpy==2.0.2 ; python_version == "3.9"
numpy==2.1.2 ; python_version > "3.9"
packaging==25.0
pyyaml==6.0.3
requests==2.32.5
six==1.17.0  # dependency chain: NNPACK -> PeachPy -> six
typing_extensions==4.15.0
pip==26.0.1  # not technically needed, but this makes setup.py invocation work
